@media screen and (min-width: 600px) {
    .center-login {
        margin: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}
